/* TODO: Add sitewide styles */
:root {
  --primary-red: #e70331;
  --secondary-red: #88041ecb;
  --primary-yellow: #f0ae07;
  --secondary-yellow: #f0c24fd7;

}


#root {
  background-color: var(--secondary-red);
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  
}

*::-webkit-scrollbar {
  display: none;
}


@font-face {
  font-family: Caveat;
  src: url('../Caveat-VariableFont_wght.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}